---
layout: post
title:  "Simple Angular js directives"
date:   2015-04-01 20:30:00
categories: javascript
---
	<h3>Introduction</h3>
	<div>
		There are numerous front end javascript frameworks, angularjs, react, backbone, and todomvc etc. Here, I choose to use Angular.js and test some interesting features. The functionalities of Angular js include filtering repeaters, two-way data binding, dependancy injection, template, routing, and service.<br>
		Directies are markers on a DOM element, such as an attribute, or element name, that attaches behaviors to the DOM element. Several build-in directives in Angular js are ngBind, ngDisable, ngClick, ngShow, and ngModel.
	</div>
	<h3>Demonstration</h3>
<div ng-app="myApp" ng-init="name='name';nickname='nickname';Switch=true;count=0;">
	<h4>ng-bind</h4>
	<p>ngBind may bind the content of a HTML element with value of a given expression and update the value as the value of the expression changes. Here, I bind the name and nickname in the following sentence with the input text field.</p>
  	<p>Name: <input type="text" ng-model="name"></p>
  	<p>Nickname: <input type="text" ng-model="nickname"></p>
  	<p>My name is <span ng-bind="name"></span> and my nickname is <span ng-bind="nickname"></span></p>

	<h4>ng-disable</h4>
	<p>ngDisabled sets the disabled attribute on the element as the expression inside ngDisabled is true. Here, I bind the expression Switch on the toggle checkbox. The button would be disabled as the checkbox is checked.</p>
	<p>
	<button ng-disabled="Switch">Toggle button</button>
	</p>
	<p>
	<input type="checkbox" ng-model="Switch">Toggle
	</p>

	<h4>ng-click</h4>
	<p>ngClick would evaluate the expression upon tap. This directive would be deprecated beginning with Angular 1.5. Click on the button and there's a scope variable incrementation.</p>
	<div>
	<button ng-click="count = count + 1">Click me!</button>
	<p><span ng-bind="count"></span></p>
	</div>

	<h4>form validation</h4>
	<p>Inputs of type email must have a value in the form of username@domainname. If the email is blank, a message of required email would be shown. If the format of the email isn't username@domainname, a message of invalid email would be shown.</p>
	<form name="myForm" ng-controller="validateCtrl" novalidate>
	<p>Email:<br>
	<input type="email" name="email" ng-model="email" required>
	<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
	<span ng-show="myForm.email.$error.required">Email is required.</span>
	<span ng-show="myForm.email.$error.email">Invalid email address.</span>
	</span>
	</p>
	<p>
	<input type="submit"
	ng-disabled="myForm.email.$dirty && myForm.email.$invalid">
	</p>
	</form>
</div>

	<h3>Angular js setup</h3>
	<div>
		To start using Angular js, choose a version on the content deliver network of google or download to your local machine. In the script tag, put the corresponding url or path in the src attribute.
	</div>
	{% highlight javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	{% endhighlight %}
	<div>In the following script, declare a application variable from angular module and name the the application as myApp. The empty brackets indicate that there's no extra module to load. The controller is then declared with a name of validateCtrl and a constructor function. a new child scope will be created and made avaliable as an injectable parameter to the constructor function as $scope. Here, I set ip the initial state of a $scope object and attach a property called email.</div>
	{% highlight javascript %}
<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.email = '';
});
</script>
	{% endhighlight %}
	<h3>Controller code</h3>
	<div>Surround the block that would use the Angular js with the div declaring ngApp then the Angular js would compile the expressions and directives.<div>
	{% highlight javascript %}
<div ng-app="myApp" ng-init="name='name';nickname='nickname';Switch=true;count=0">
</div>
	{% endhighlight %}
	<h4>ngBind</h4>
	<div>Bind the input text field with name and nickname using ngModel.<div>
	{% highlight javascript %}
<p>Name: <input type="text" ng-model="name"></p>
<p>Nickname: <input type="text" ng-model="nickname"></p>
<p>My name is <span ng-bind="name"></span> and my nickname is <span ng-bind="nickname"></span></p>
	{% endhighlight %}
	<h4>bgDisabled</h4>
	Bind the checkbox with Switch using ngModel. And assign Switch as the expression in ngDisabled.
	{% highlight javascript %}
<p>
<button ng-disabled="Switch">Toggle button</button>
</p>
<p>
<input type="checkbox" ng-model="Switch">Toggle
</p>
	{% endhighlight %}
	<h4>ngClick</h4>
	<div>The increment expression on the count variable would be executed once every time the button has been tabbed.</div>
	{% highlight javascript %}
<div>
<button ng-click="count = count + 1">Click me!</button>
<p><span ng-bind="count"></span></p>
</div>
	{% endhighlight %}
	<h4>form validation</h4>
	<div>The novalidate attribute indicates that the form is not to be validated on submit. Instead, use the validation function of Angular and disable the submit button as the email field is empty or error invalidate in format.</div>
	{% highlight javascript %}
<form name="myForm" ng-controller="validateCtrl" novalidate>
<p>Email:<br>
<input type="email" name="email" ng-model="email" required>
<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">Email is required.</span>
<span ng-show="myForm.email.$error.email">Invalid email address.</span>
</span>
</p>
<p>
<input type="submit" ng-disabled="myForm.email.$dirty && myForm.email.$invalid">
</p>
</form>
	{% endhighlight %}
	<h3>Conclusion</h3>
	<div>Here, I only demonstrate a little part of Angular js. To fully explorer the power of Angular js, please visit the <a href="https://angularjs.org">official website</a>. As it's now transferring from Angular 1 to Angular 2, there might be many changes and other front-end may be good choices,too.</div>
	<h3>History</h3>
	<div>
		First revision: add description - 2016/02/03
	</div>
	<h3>Reference</h3>
	<ol>
		<li><a href="https://github.com/showcases/front-end-javascript-frameworks">Front-end javascrpt framework</a></li>
		<li><a href="https://github.com/angular/angular.js">Angular js github</a></li>
		<li><a href="https://angularjs.org">Angular js</a></li>
		<li><a href="https://cdnjs.com/libraries/angular.js/">Angualr js CDN</a></li>
		<li><a href="https://docs.angularjs.org/guide/controller">Understanding Controllers</a></li>
		<li><a href="http://www.w3schools.com/tags/att_form_novalidate.asp">HTML novalidate</a></li>
	</ol>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.email = '';
});
</script>